<mat-card class="example-card">
  <mat-card-footer>
      <mat-grid-list cols="2" rowHeight="2:1">

          <mat-grid-tile>
              <mat-list>
                    <mat-list-item role="listitem">
                            <mat-icon>forward</mat-icon> Mailing & Billing:First Floor, #91A, 7th A Cross Sir M V Nagar, Ramamurthy Nagar, Kowdenahalli Bangalore Bangalore KA 560016 IN<br/>                                                              
                      </mat-list-item>
            
                        <mat-list-item role="listitem">
                            <mat-icon>mail</mat-icon> Email: hello@zibtek.com<br>
                        </mat-list-item>
      
                        <mat-list-item role="listitem">
                            <mat-icon>event</mat-icon> Hours: 10:30 am - 7:30 pm (India)
                        </mat-list-item>
              </mat-list>

          </mat-grid-tile>


          <mat-grid-tile>
              <mat-list role="list">
                  
                </mat-list>               


                <mat-list role="list">
                        <mat-list-item role="listitem">
                                <mat-icon>face</mat-icon> Contact Us<br/>
                            </mat-list-item>            
                        <mat-list-item role="listitem">
                            <a mat-mini-fab color="primary" href=" https://www.facebook.com/Zibtek/">f</a><br>
                            <a mat-mini-fab color="warn" href="https://plus.google.com/u/0/106316485673159730014">G+</a><br>                                                
                            <a mat-mini-fab color="primary" href="https://twitter.com/Zibtek">t</a><br>                                                
                            <a mat-mini-fab color="primary" href="https://www.linkedin.com/company/zibtek">in</a><br>                                                
                        </mat-list-item>
      
                    </mat-list>               

          
        </mat-grid-tile>
        </mat-grid-list>


    <h3> <small>&copy;Zibtek. All rights reserved</small> </h3>
  </mat-card-footer>
</mat-card>